/*----------------------------------------------------------BACKGROUND------------------------------------------------------------------------*/

.bg {
  background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
      524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
      -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
      -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
      624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
      563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
      -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

.bg_2 {
  background: url(terminal.gif) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  image-rendering: pixelated;
  filter: brightness(60%);
}

.bg_3 {
  background: url(cyber.gif) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  image-rendering: pixelated;
}


/*----------------------------------------------------------NAVBAR------------------------------------------------------------------------*/


.nav-side-menu {
  overflow: auto;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  font-weight: 200;
  background-color: #C9D6FF;
  /* position: fixed; */
  top: 0px;
  width: 300px;
  height: 100vh;
  color: #161616;
}

@media screen and (min-width : 767px) {
  .nav-side-menu {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}}

.nav-side-menu .brand {
  background-color: #C9D6FF;
  line-height: 50px;
  display: block;
  text-align: center;
  letter-spacing: 15px;
  font-size: 150%;
  font-weight: 900;
  
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  font-size: 30%;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 4px solid #076585;
  text-decoration: underline;
  font-weight: 700;
}
.act{
  font-weight: 700;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #e6e6e6;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #e6e6e6;
  margin-left: 0px;
  font-size: 80%;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #99b1e0;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #161616;

}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  background-color: #99b1e0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
	height:inherit;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    font-size: 95%;
    right: 10px;
    top: 15px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #C9D6FF;
    color: #161616;
    width: 40px;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

/* menu bg2 */
.nav-side-menu2 {
  overflow: auto;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  font-weight: 200;
  background-color: rgb(0, 43, 0);
  /* position: fixed; */
  top: 0px;
  width: 300px;
  height: 100vh;
  color: rgb(30, 255, 0);
}

.nav-side-menu2 .brand {
  background-color: rgb(0, 43, 0);
  line-height: 50px;
  display: block;
  text-align: center;
  letter-spacing: 15px;
  font-size: 150%;
  font-weight: 900;
  
}

.nav-side-menu2 .brand {
  background-color: rgb(0, 43, 0);
  line-height: 50px;
  display: block;
  text-align: center;
  letter-spacing: 15px;
  font-size: 150%;
  font-weight: 900;
  
}

.nav-side-menu2 .toggle-btn {
  display: none;
}
.nav-side-menu2 ul,
.nav-side-menu2 li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu2 ul :not(collapsed) .arrow:before,
.nav-side-menu2 li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  font-size: 30%;
}
.nav-side-menu2 ul .active,
.nav-side-menu2 li .active {
  border-left: 4px solid green;
  text-decoration: underline;
  font-weight: 700;
}
.act{
  font-weight: 700;
}

.nav-side-menu2 ul .sub-menu li,
.nav-side-menu2 li .sub-menu li {
  background-color: green;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid rgb(1, 87, 1);
  margin-left: 0px;
  font-size: 80%;
}
.nav-side-menu2 ul .sub-menu li:hover,
.nav-side-menu2 li .sub-menu li:hover {
  background-color: rgb(1, 87, 1);
}
.nav-side-menu2 ul .sub-menu li:before,
.nav-side-menu2 li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu2 li {
  padding-left: 0px;
}
.nav-side-menu2 li a {
  text-decoration: none;
  color: rgb(0, 255, 0);

}
.nav-side-menu2 li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu2 li:hover {
  background-color: rgb(1, 87, 1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
	height:inherit;
  }
  .nav-side-menu2 .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    font-size: 95%;
    right: 10px;
    top: 15px;
    z-index: 10 !important;
    padding: 3px;
    background-color: rgb(0, 43, 0);
    color: rgb(0, 255, 0);
    width: 40px;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu2 .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
/*----------------------------------------------------------MAIN------------------------------------------------------------------------*/

@media (min-width: 767px) {
#main {
  margin-left: 300px;
}}

/*--------------------------------------------------------HEADER RESPONSIVE------------------------------------------------------------------------*/
/* containers adjustement */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*TITRE PRINCIPAL*/
@media (min-width: 0px) {
  .header h1 {
    font-size: 500%;
    letter-spacing: 10px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    color: white;
}}
@media (max-width: 0px) {
  .header h1 {
    font-size: 300%;
    font-family: 'Work Sans', sans-serif;
}}

@media (min-width: 0px) {
.header2 h1 {
  font-size: 500%;
  letter-spacing: 10px;
  font-weight: 900;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: #00b01c;
  background-color: black;
}}
@media (max-width: 0px) {
.header2 h1 {
  font-size: 300%;
  font-family: 'Work Sans', sans-serif;
}}

@media (min-width: 0px) {
  .header3 h1 {
    font-size: 500%;
    letter-spacing: 10px;
    font-weight: 900;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: red;
    -webkit-text-stroke: 1px black;
  }}
  @media (max-width: 0px) {
  .header2 h1 {
    font-size: 300%;
    font-family: 'Work Sans', sans-serif;
  }}
  
/*---------------------------------------------DATE---------------------------------------------------------*/
#current_date {
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 3px;
  color: #cccccc;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

/*---------------------------------------------HEADER---------------------------------------------------------*/
/*SOUS TITRE*/
.header p {
  font-size: 150%;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.header p span {
  color: #3778fa;
  font-size: x-large;
}

.header2 p {
  font-size: 150%;
  font-family: 'Work Sans', sans-serif;
  color: white;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

.header2 p span {
  color: #0cf575;
  text-align: center;
  -webkit-text-stroke: 1px #000;
  font-size: x-large;
}

.header3 p {
  font-size: 150%;
  font-family: 'Work Sans', sans-serif;
  color: #cf0c5d;
  text-align: center;
  -webkit-text-stroke: 1px #f70a6d;
}

.header3 p span {
  color: #c70828;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
  font-size:x-large;
}

/*---------------------------------------------TO DO LIST---------------------------------------------------------*/
/* appearence of header and footer */
.header, footer {
  margin: 2rem auto;
  text-align: center;
}

/* container of the add-task */
.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  height: 7rem;
  margin: auto;
  background: #e2e2e2;
  border:  #081e4a 0.2rem solid;
  border-radius: 1.5rem;
  padding: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Columns */
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
  width: 90%;
  opacity: 1;
}

.column {
  width: 100%;
  margin: 0 0.6rem;
  background: #ffffff;
  border: #081e4a 0.1rem solid;
  border-radius: 2rem;
}

.column:hover{
  transform: rotate(2.5deg)
}

.column-header {
  padding: 0.1rem;
}

.column-header h4 {
  text-align: center;
}

.to-do-column .column-header {
  background: #7a8dca;
}

.doing-column .column-header {
  background: #bbbbff;
}

.done-column .column-header {
  background: #626778;
}

.trash-column{
  width: 155%;
}

.column-header2 {
  padding: 0.1rem;
}

.column-header2 h4 {
  text-align: center;
}

.to-do-column .column-header2 {
  background: #00ff1a;
  color: rgb(252, 252, 252);
}

.doing-column .column-header2 {
  background: #00c714;
  color: white;
}

.done-column .column-header2 {
  background: #00c714;
  color: white;
}

.trash-column .column-header2{
  background: #002e05;
  color: white;
}

.trash-column .column-header {
  background: #919191;
}

.task-list {
  min-height: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}

/* Buttons */
.button {
  font-weight: 1000;
  border: black 0.1rem solid;
  border-radius: 1rem;
  color: black;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.delete-button {
  background-color: #dbdbdb;
}

.delete-button:hover {
  background-color: #fa7070;
  transform: scale(0.9);
}

.add-button {
  background-color: white;
  height: 100%;
  width: 40%;
  margin-top: -0.05rem;
  margin-left: -0.3rem;
  margin-right: 1rem;
}

.add-button:hover {
  background-color: grey;
  transform: scale(0.9);
}

/* Add task bar */
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.4rem;
  height: 3.3rem;
  border: #000013 0.15rem solid;
  border-radius: 1rem;
  cursor: move;
  text-align: center;
  vertical-align: middle;
  font-family: 'Work Sans', sans-serif;
  word-break: break-all;
}

#taskText {
  background: #fff;
  border: #a8a8a8 0.1rem solid;
  border-radius: 1rem;
  text-align: center;
  height: 6rem;
  width: 60%;
  margin: auto 0.8rem auto 0.1rem;
  font-family: 'Work Sans', sans-serif;
  word-break: break-all;
}

.task p {
  margin: auto;
  word-break: break-all;
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

